<div class="create-chat wrapper">
    <form (submit)="createChat()">
        <div class="form-group">
            <h3>Enter chat name <span class="color--danger">*</span></h3>
            <input
                type="text"
                name="username"
                placeholder="Chat Name"
                (keyup.enter)="createChat()"
                [(ngModel)]="chatName"
            />
        </div>
        <div class="form-group">
            <h3>Enter chat password</h3>
            <input
                type="password"
                name="password"
                autocomplete="off"
                placeholder="Password"
                (keyup.enter)="createChat()"
                [(ngModel)]="password"
            />
        </div>
        <div class="form-group">
            <h3>
                Chat duration (min 10, max 60 minutes)
                <span class="color--danger">*</span>
            </h3>
            <input
                type="number"
                name="duration"
                min="10"
                max="60"
                step="5"
                (keyup.enter)="createChat()"
                [(ngModel)]="chatDuration"
            />
        </div>
        <div class="form-group text-align--right">
            <button class="primary" type="submit" (click)="createChat()">
                Create Chat
            </button>
        </div>
    </form>
    <div
        *ngIf="errorMessage && !loading"
        class="response-message color--danger"
    >
        {{ errorMessage }}
    </div>
    <div *ngIf="loading" class="response-message">
        Please wait, we are setting up your chat...
    </div>
</div>
