<div class="wrapper">
    <div class="form-group">
        <h3>Enter username:</h3>
        <input
            type="text"
            placeholder="Username"
            (keyup.enter)="enterChat()"
            [(ngModel)]="chatService.username"
        />
    </div>
    <div class="buttons-wrapper">
        <button class="primary" (click)="enterChat()">Enter Chat</button>
    </div>
    <div *ngIf="errorMessage && !loading" class="response-message color-danger">
        {{ errorMessage }}
    </div>
    <div *ngIf="loading" class="response-message">Loading chat...</div>
</div>
