<div
    class="message flex flex-a-c flex-j-f-e"
    [ngClass]="{ other: chatService.username !== model.sentBy }"
    (mouseenter)="hovered = true"
    (mouseleave)="handleMouseLeave()"
>
    <div
        class="settings"
        [ngStyle]="{ display: hovered || settingsClick ? 'flex' : 'none' }"
        (click)="settingsClick = !settingsClick"
    >
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div
            class="settings-list"
            (mouseleave)="hovered = false; settingsClick = false"
            [ngStyle]="{ display: settingsClick ? 'flex' : 'none' }"
            [ngClass]="{ 'last-child': isLast, 'first-child': isFirst }"
        >
            <div
                class="settings-item"
                (click)="handleLike.emit(model); hovered = false"
            >
                Like
            </div>
            <div
                *ngIf="model.type == 'text'"
                class="settings-item"
                (click)="handleCopy.emit(model)"
            >
                Copy
            </div>
            <div
                *ngIf="chatService.username === model.sentBy"
                class="settings-item"
                (click)="handleDelete.emit(model)"
            >
                Delete
            </div>
        </div>
    </div>
    <div
        class="message-wrapper"
        [ngClass]="{ other: chatService.username !== model.sentBy }"
        (dblclick)="handleLike.emit(model)"
        appHold
        (hold)="showSettings()"
    >
        <h5 class="sent-by">{{ model.sentBy }}:</h5>
        <h4 *ngIf="model.type == 'text'" class="text">{{ model.text }}</h4>
        <img
            class="img"
            alt="Unknown URL"
            *ngIf="model.type == 'img'"
            [src]="model.file"
            (click)="showImage()"
        />
    </div>
    <div *ngIf="model.likes.length" (click)="showLikes()" class="likes"></div>
</div>
