@import "../../../styles/variables";

.message {
    position: relative;
    text-align: right;
    margin-bottom: $spacer-1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s;
    animation: pop-fade 0.5s;

    .settings {
        display: none;
    }

    .sent-by,
    .text {
        margin: 0;
        word-break: break-all;
    }

    .sent-by {
        font-size: 0.77rem;
    }
    .text {
        font-size: 0.9rem;
    }

    &.other {
        justify-content: flex-start;

        .sent-by,
        .text {
            text-align: left;
        }
    }

    &:last-child {
        margin-bottom: $spacer-2;
    }

    .message-wrapper {
        display: inline-block;
        padding: $spacer-1 $spacer-4;
        background-color: $color-dark;
        border: 1px solid $color-gray;
        border-radius: 16px;

        .sent-by {
            color: rgba($color-light, 0.8);
        }

        &.other {
            background-color: $color-secondary;
        }
    }

    .likes {
        position: absolute;
        z-index: 10;
        bottom: -$spacer-1;
        display: inline-block;
        width: 1rem;
        aspect-ratio: 1;
        border-image: radial-gradient($color-danger 69%, #0000 70%) 84.5%
            fill/100%;
        clip-path: polygon(-41% 0, 50% 91%, 141% 0);
        cursor: pointer;
    }

    img {
        max-width: 200px;
    }
}

@media (min-width: $bp-md) {
    .message {
        .settings {
            position: relative;
            margin-right: $spacer-4;
            padding: $spacer-2;
            cursor: pointer;

            .dot {
                width: $spacer-1;
                height: $spacer-1;
                margin-right: $spacer-1;
                background-color: $color-gray;
                border-radius: 50%;
            }

            &:hover {
                .dot {
                    background-color: $color-light;
                }
            }

            .settings-list {
                align-items: center;
                position: absolute;
                top: 200%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: $spacer-2;
                text-align: left;
                background-color: $color-gray;
                border-radius: 8px;
                z-index: 10;

                &.last-child {
                    top: -100%;
                }

                &.first-child {
                    top: 200%;
                }

                .settings-item {
                    padding: 0 $spacer-1;

                    &:hover {
                        color: rgba($color-light, 0.6);
                    }
                }
            }
        }

        &.other {
            .settings {
                order: 2;
                margin-right: 0;
                margin-left: $spacer-4;
            }
        }

        .message-wrapper {
            max-width: 90%;
        }
    }
}

@keyframes pop-fade {
    0% {
        bottom: -$spacer-2;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
