.flex {
    display: flex;
}

.flex--c {
    flex-direction: column;
}

.flex--a-c {
    align-items: center;
}

.flex--j-s-b {
    justify-content: space-between;
}

.flex--j-f-e {
    justify-content: flex-end;
}

.flex--j-c {
    justify-content: center;
}

.color--primary {
    color: $color-primary;
}

.color--secondary {
    color: $color-secondary;
}

.color--gray {
    color: $color-gray;
}

.color--dark {
    color: $color-dark;
}

.color--light {
    color: $color-light;
}

.color--danger {
    color: $color-danger;
}

.text-align--right {
    text-align: right;
}
