$bp-xs: 360px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1440px;
$bp-xl: 1920px;

$color-primary: #111;
$color-secondary: #222;
$color-gray: #333;
$color-dark: #000;
$color-light: #fff;
$color-danger: #ff0000;

$font-family-primary: Roboto, "Helvetica Neue", sans-serif;

$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 0.75rem;
$spacer-4: 1rem;
$spacer-5: 1.5rem;
$spacer-6: 2rem;
